body{
	margin:0;
	padding: 0;
	font-family: Montserrat;
	font-weight: bold;

}

.clearfix: after{
	content:' ';
	display: table;
	width: 100%;
	clear: both;
}

header{
	background: url(../img/fon3.png);
	height: 873.4px;
}

div{
	box-sizing: border-box;
}

.container{
	width: 1170px;
	margin:0 auto;
}

.logo{
	margin-top:13px;
	float:left;
}

nav{
	float:right;
	margin-top: 23px;
}

.menu{
	padding:0
	margin:0;
	display: block;
}

.menu li{
	float: left;
	display: block;
}

.menu a{
	color:#fff;
	margin-right: 103px;
	font-size: 18px;
}

.menu_a{
	text-decoration: none;
}

.titles_1{
	font-size:50px;
	color:#fff;
	text-align: left;
	padding-top:195px;
}

.titles_2{
	font-size: 30px;
	color:#fff;
	padding-top:77.01px;
	text-align: left;
}

.titles_3{
	font-size: 30px;
	color:#2D3336;
	text-align: center;
	padding-bottom: 40px;
	font-family: Montserrat;
	font-weight: normal;
}

.block2{
	background: #2D3336;
	height: 718.4px;
	width: 1481px;
	margin-top:5px;
}

.verh{
	background: url(../img/верх2.png) no-repeat;
	background-size: 100%;
	height: 175px;
}

.niz{
	background: url(../img/низ.png) no-repeat;
	background-size: 100%;
	height: 145px;
}

.catalog{
	list-style-type:none;
	display: flex;
    justify-content: space-between;
 	text-align: center;
 
}

.photo{
	width: 70%;
	margin: 5px;
}

.titles_4{
	font-size: 30px;
	color:#fff;
	text-align: center;
	padding-bottom: 40px;
	font-family: Montserrat;
	font-weight: normal;
}

.onetwo{
	display: flex;
    justify-content: center;
    align-items: center;
	background: url(../img/onetwo.jpg) no-repeat;
	background-size: 100%;
	height: 617px;
}

.bel_block{
	display: flex;
	justify-content: center;
	align-items: center;
    width: 400px;
    height: 400px;
    margin-left: 500px;
    background-color: #fff;
    padding: 20px;
}

.bel_block_black {
	width: 100%;
	height: 100%;
	border: 2px solid #2D3336;
	padding: 20px;
	color: #2D3336;
	text-align: center;
}

.text_54 {
	margin: 0;
	margin-top: 10px;
	font-size: 30px;
	font-family: Montserrat;
	font-weight: normal;
}

.text_44 {
	font-size: 25px;
	font-family: Montserrat;
	font-weight: normal;
}

.flower{
	background: url(../img/flower.png) no-repeat;
	background-size: 100%;
	height: 275px;
	margin-bottom: 50px;
}

.block1{
	width: 100%;
    height: 350px;
    border: 2px solid #2D3336;
    padding: 20px;
    color: #2D3336;
    text-align: center;
}

.text_12{
	font-size: 30px;
	font-family: Montserrat;
	font-weight: normal;
	
}

.text_13{
	font-size: 25px;
	font-family: Montserrat;
	font-weight: normal;
	padding-top: 30px;
}

.block4{
	background: #2D3336;
    height: 734.4px;
    width: 1481px;
    margin-top: 5px;
}

.geo{
	color:#fff;
	font-size: 25px;
	font-family: Montserrat;
	font-weight: normal;

}

.telefon{
	color:#fff;
	font-size: 25px;
	font-family: Montserrat;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 130px;
}

footer{
	background: #fff;
    height: 95px;
    width: 1481px;
    margin-top: 5px;
}

.foot{
	color:#2D3336;
	font-size: 25px;
	font-family: Montserrat;
	font-weight: normal;
}




* {box-sizing: border-box}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.container2 {
  padding: 16px;
  position: flex;

}