body{
	margin:0;
	padding: 0;
	font-family: Montserrat;
	font-weight: bold;

}

.clearfix: after{
	content:' ';
	display: table;
	width: 100%;
	clear: both;
}

header{
	background: url(../img/fon3.png);
	height: 873.4px;
	background-size: 100%;
}

div{
	box-sizing: border-box;
}

.container{
	width: 1170px;
	margin:0 auto;
}

.logo{
	margin-top:13px;
	float:left;
}

nav{
	float:right;
	margin-top: 23px;
}

.menu{
	padding:0
	margin:0;
	display: block;
}

.menu li{
	float: left;
	display: block;
}

.menu a{
	color:#fff;
	margin-right: 79px;
	font-size: 18px;
}

.menu_a{
	text-decoration: none;
}

.titles_1{
	font-size:50px;
	color:#fff;
	text-align: left;
	padding-top:195px;
}

.titles_2{
	font-size: 30px;
	color:#fff;
	padding-top:77.01px;
	text-align: left;
}

.titles_3{
	font-size: 30px;
	color:#2D3336;
	text-align: center;
	padding-bottom: 40px;
	font-family: Montserrat;
	font-weight: normal;
}

.block2{
	background: #2D3336;
	height: 718.4px;
	width: 1481px;
	margin-top:5px;
}

.verh{
	background: url(../img/верх2.png) no-repeat;
	background-size: 100%;
	height: 175px;
}

.niz{
	background: url(../img/низ.png) no-repeat;
	background-size: 100%;
	height: 145px;
}

.catalog{
	list-style-type:none;
	display: flex;
    justify-content: space-between;
 	text-align: center;
 
}

.photo{
	width: 70%;
	margin: 5px;
}

.titles_4{
	font-size: 30px;
	color:#fff;
	text-align: center;
	padding-bottom: 40px;
	font-family: Montserrat;
	font-weight: normal;
}

.onetwo{
	display: flex;
    justify-content: center;
    align-items: center;
	background: url(../img/onetwo.jpg) no-repeat;
	background-size: 100%;
	height: 617px;
}

.bel_block{
	display: flex;
	justify-content: center;
	align-items: center;
    width: 400px;
    height: 400px;
    margin-left: 500px;
    background-color: #fff;
    padding: 20px;
}

.bel_block_black {
	width: 100%;
	height: 100%;
	border: 2px solid #2D3336;
	padding: 20px;
	color: #2D3336;
	text-align: center;
}

.text_54 {
	margin: 0;
	margin-top: 10px;
	font-size: 30px;
	font-family: Montserrat;
	font-weight: normal;
}

.text_44 {
	font-size: 25px;
	font-family: Montserrat;
	font-weight: normal;
}

.flower{
	background: url(../img/flower.png) no-repeat;
	background-size: 100%;
	height: 275px;
	margin-bottom: 50px;
}

.block1{
	width: 100%;
    height: 350px;
    border: 2px solid #2D3336;
    padding: 20px;
    color: #2D3336;
    text-align: center;
}

.text_12{
	font-size: 30px;
	font-family: Montserrat;
	font-weight: normal;
	
}

.text_13{
	font-size: 25px;
	font-family: Montserrat;
	font-weight: normal;
	padding-top: 30px;
}

.block4{
	background: #2D3336;
    height: 734.4px;
	width: 1521px;
    margin-top: 5px;
}

.geo{
	color:#fff;
	font-size: 25px;
	font-family: Montserrat;
	font-weight: normal;

}

.telefon{
	color:#fff;
	font-size: 25px;
	font-family: Montserrat;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 130px;
}

footer{
	background: #fff;
    height: 95px;
    width: 1481px;
    margin-top: 5px;
}

.foot{
	color:#2D3336;
	font-size: 25px;
	font-family: Montserrat;
	font-weight: normal;
}

.hero{
	font-size: 20px;
	color:#fff;
	text-align: left;
	padding-left: 159px;
    margin-top: 1px;
}
.hero2{
	font-size: 25px;
	color:#fff;
	text-align: left;
	margin-top: -10px;
}

#out-1{
	font-size: 25px;
	color:#fff;
	padding-top:77.01px;
	text-align: left;
	padding-left: 190px;
}


form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-top: -566px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: .5em;
}

.footer2{
	margin-top: 502px;
	background: #fff;
    height: 95px;
    width: 1481px;
}

.map{
	color:#2D3336;
	font-size: 20px;
	font-family: Montserrat;
	font-weight: normal;
	height: 37px;
	weight: 37px;
	display: flex;
	text-decoration: underline;
}
.map a{
	color:#2D3336;
	font-size: 20px;
	font-family: Montserrat;
	font-weight: normal;
	height: 25px;
	weight: 25px;
	display: flex;
	text-decoration: none;
	margin-left: 8px;
}

.mapsite{
	position: absolute;
	color: #fff;
	text-decoration: none;
	margin-top: 205px;
	line-height: 25px;
}

.sitemap a{
	text-decoration: none;
	font-size: 20px;
	font-family: Montserrat;
	text-decoration: none;
	color: #fff;
}
.nazv{
	position: absolute;
	color:#fff;
	font-size: 30px;
	font-family: Montserrat;
	font-weight: normal;
	text-decoration: underline;
	margin-top: 158px;
}

.sitemap ul{
	margin-left: 23px;
}